@import "variables";

.content-section {
  margin: 2em;

  .header {
    display: flex;
    align-items: end;
    padding-bottom: 1em;

    h1 {
      font-size: 2em;
      padding-right: 0.3em;
    }

    .rss-icon {
      color: darken($light-grey, 20%);
      width: auto;
      height: 1.4em;
      transition-property: color;
      transition-duration: 0.2s;
    }

    .rss-icon:hover {
      color: $orange;
    }
  }

  .post-card {
    height: auto;
    border: solid;
    border-color: darken($silver, 10%);
    border-width: 0.15em;
    @extend .themeCardsColor;
    border-radius: 0.2em;
    padding: 1em 0.5em;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: column;

    .date {
      font-size: 0.9em;
      padding-bottom: 0.5em;
      @extend .themePostContentDateColor;
    }

    .title {
      font-size: 1.4em;
      padding-bottom: 0.5em;
    }

    .title,
    .read-more {
      @extend .themeCardsColor;
      transition: color 0.2s;
      width: fit-content;
    }

    .title:hover,
    .read-more:hover {
      color: $orange;
    }
  }
}
