$max-main-width: 1200px;
$phone-width: 550px;

.homepage-fill {
	background-color: $white;
	height: 100%;
	padding: 10em 20% 2.5em;

	@media (max-width: $phone-width) {
		padding: 5em 10% 2.5em;
	}

	.big-text, .normal-text, {
		width: 100%;
		padding-bottom: 1.25rem;
		text-align: center;
		line-height: 1.1em;
	}

	.big-text {
		font-size: 3em;

		@media (max-width: 720px) {
			font-size: 2.5em;
		}
	}

	.normal-text {
		font-size: 1.5em;
		color: $inactive-link;
		padding-bottom: 2em;
		line-height: 1.3em;
	}

	.install {
		max-width: 40em;
		margin: auto;

		h2 {
			font-size: 1.5em;
			padding-bottom: 0.3em;
			text-align: center;
		}

		.install-manually {
			text-align: right;
			padding-top: 0.3em;
			font-size: 0.8em;
		}

		pre {
			margin: 0;
		}

		code {
			font-size: 1.35em;
		}

		.clipboard-icon, .check-icon {
			height: 2em;
		}
	}
}

.facts {
	background-color: $silver;
	padding: 2em 25% 3.4em;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: auto;
	
	@media (max-width: $phone-width) {
		padding: 2em 0% 3.4em;
	}

	@media (max-width: $max-main-width) {
		grid-template-columns: 1fr;
	}

	.example-section {
		padding-bottom: 1.4em;
		
		* {
			text-align: center;
		}

		h2 {
			font-size: 2em;
			padding-bottom: 0.3em;
		}

		p {
			padding: 0 15%;
			line-height: 1.3em;
		}
	}
}


.ready-for-production {
	background-color: $white;
	padding: 2em 2rem 4em;
	
	h2, p {
		text-align: center;
		padding: 0 15% 0.5em;
	}

	h2 {
		font-size: 2.7em;
	}

	p {
		font-size: 1.2em;
	}

	.groups-using-makedeb {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-top: 1em;

		a * {
			width: auto;
			height: 3.5rem;
			padding: 0 1rem;
		}
	}
}
