// Our CSS.
@import "syntax-highlighting";
@import "header";
@import "footer";
@import "homepage_main";
@import "404";
@import "post";
@import "generic-page";
@import "content-section";

// External CSS.
@import url('https://meyerweb.com/eric/tools/css/reset/reset.css');

// Fonts.
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Main CSS, shared across entire website.
p, a, h1, h2, h3, h4, h5, h6, ul, li {
        font-weight: lighter;
}

body {
	font-family: "Ubuntu", sans-serif;
}

.dark{
        color: #fff;
        background-color: #2D2D2D;
}

a, a:visited {
	color: $orange;
	text-decoration: none;
	transition: color 0.2s;
}

a:hover {
	color: lighten($orange, 8%);
}

p, ul {
        padding: 0.3em 0;
}

ul {
        list-style-type: circle;
        margin-left: 2em;
}
      
p, li {
	font-size: 1.1em;
	line-height: 1.3em;
}

h1, h2 {
        padding-top: 0.5em;

        &.no-padding-top {
                padding-top: 0;
        }
}

h1 {
	font-size: 2.6em;
}

h2 {
	font-size: 1.9em;
}

hr {
	border: none;
	background-color: $light-grey;
	height: 0.1em;
}

br {
	height: 0;
}

em {
	font-style: italic;
}

strong {
	font-weight: normal;
}

// Styling for code blocks.
code {
        @extend .themeCodeColor;
	background-color: lighten($light-grey, 5%);
	padding: 0.1em 0.2em;
        font-size: 85%;
        border-radius: 0.3em;
        font-family: "Ubuntu Mono", monospace;
}

.code-block {    
        position: relative;
 
        .clipboard-icon, .check-icon {
                position: absolute;
                color: darken($light-grey, 28%);
                right: 0;
                top: 0.3125em; // 5px divided by 16.
                padding: 0 0.3125em;
                transition-property: color;
                transition-duration: 0.2s;
                z-index: 2;
        }

        .clipboard-icons {
                visibility: hidden;
                opacity: 0;
                transition-property: visibility opacity;
                transition-duration: 0.2s;
        }

        &:hover {
                .clipboard-icons {
                        visibility: visible;
                        opacity: 1;
                }
        }
    
        .clipboard-icon {
                @extend .themeCodeColor;
                color: darken($light-grey, 28%);
                background-color: lighten($light-grey, 5%);

                &:hover {
                        color: $orange;
                        cursor: pointer;
                }
        }
    
        .check-icon {
                display: none;
                color: #40a85c;
                @extend .themeClipboardCheckedColor;
                background-color: lighten($light-grey, 5%);
        }

	pre {
        	margin: 0.5em 0;
        	padding: 0.3em 0.5em;
                @extend .themeCodeColor;
        	background-color: lighten($light-grey, 5%);
        	overflow: auto;

        	code {
                	line-height: 1.6em;
                	font-size: 100%;
			padding: 0.2em 0;
        	}
	}
}

// Ensures the footer is (at minimum) at the bottom of the viewport.
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

footer {
	margin-top: auto;
}

// Global 'main' class for basic styling.
// This should be used right below the navbar header.
.main {
	margin: 2em;
}

.heading {
        .link-icon {
                color: darken($light-grey, 20%);
                transition: opacity 0.2s linear, color 0.2s linear;
                opacity: 0;
                
                svg {
                        height: 0.7em;
                        width: auto;
                }
        }

        &:hover {
                .link-icon {
                        opacity: 1;

                        &:hover {
                                color: $orange;
                        }
                }
        }
}