@import "variables";

.post {
	padding: 3em 5%;
	color: $dark-grey;
	
	.title, .date {
		text-align: center;
	}

	.title {
		font-size: 2.75em;
	}

	.date {
		font-size: 1.1em;
		line-height: 1.6em;
	}

	hr {
		border: none;
		background-color: $light-grey;
		height: 0.1em;
		padding: 0 5%;
	}

	.content {
		padding-top: 2em;
		max-width: 50em;
		margin-left: auto;
		margin-right: auto;

		h2 {
			font-weight: bold;
			font-size: 2em;
			margin: 0.7em 0 0.3em;
		}

		h3 {
			font-weight: bold;
			font-size: 1.6em;
			margin: 0.7em 0 0.4em;
		}

		p, li {
			font-size: 1.2em;
			line-height: 1.1em;
		}

		p {
			padding-bottom: 1em;
		}
		
		ul {
			padding-bottom: 1em;
		}

		li {
			padding-left: 2em;
		}

		.heading {
			.link-icon {
				color: darken($light-grey, 20%);
				transition-property: color;
				visibility: hidden;
				
				svg {
					height: 0.7em;
					width: auto;
				}
			}

			&:hover {
				.link-icon {
					visibility: visible;

					&:hover {
						color: $orange;
					}
				}
			}
		}
	}
	
	.closing-hr {
		width: 15em;
	}

	.author {
		display: flex;
		flex-direction: column;
		align-items: center;

		img {
			height: 5em;
			width: 5em;
			border-radius: 50%;
			margin: 1em 0;
		}

		.author-name {
			font-size: 1.5em;
		}

	}
}
