<footer>
	<div class="copyright">
		<p>&copy; 2022 makedeb Development Team</p>
	</div>
	<button class="toggle-btn" id="toggle-theme-button">
		{{- partial "partials/svg/sun.svg" . -}}
		{{- partial "partials/svg/moon.svg" . -}}
	</button>
	<div class="links">
		<a href="https://{{ .Site.Params.github_url }}/makedeb/makedeb.org">Report an Issue</a>
		<a href="https://{{ .Site.Params.github_url }}/makedeb">GitHub</a>
		<a href="/privacy">Privacy</a>
	</div>
</footer>
<script src="/js/theme.js"></script>
